html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  height: 1500px;
  position: relative;
}
.empty-box {
  width: 100%;
  height: 130px;
  background-color: teal;
  display: block;
}
.red-box {
  width: 100%;
  height: 130px;
  background-color: rgb(255, 121, 121);
  position: fixed;
  top: 0;
}
.blue-box {
  width: 73%;
  height: 100%;
  background-color: rgb(126, 214, 223);
  display: inline-block;
}
h1 {
  padding: 50px;
  margin: 0px;
  font-size: 88px;
  color: white;
}
.yellow-box {
  float: right;
  width: 27%;
  height: 100%;
  background-color: rgb(225, 204, 0);
  border: 8px solid gray;
  display: inline-block;
  box-sizing: border-box;
}

.green-box {
  width: 13%;
  height: 5%;
  background-color: rgb(186, 220, 88);
  position: absolute;
  top: 7%;
  right: 21%;
}
