.screen-1__camera-icon {
  background: url("../img/camera.jpg");
  background-size: cover;
  background-position: center;
}

.screen-1 .pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-1 .pop-up__btn {
  margin-top: 20px;
}

.screen-1 .pop-up__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-1 .pop-up:hover {
  transform: translate(20px, 20px);
  opacity: 1;
}
