@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");
@import "screen-1.css";
@import "screen-2.css";
@import "screen-3.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  background-color: #f8f8f8;
}

.screen {
  position: relative;
  margin: 20px;
  width: 400px;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.icon-name {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.maker-name {
  margin-top: 2px;
  color: #ea4462;
  font-size: 15px;
}

.pop-up__btn {
  color: white;
  padding: 5px;
  background-color: #ea4462;
}

.pop-up {
  background-color: #224151;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.screen-1 {
  background-color: #009e90;
  flex-direction: column;
}

.screen-2 {
  /* background-color: #ec9f9e; */
  flex-direction: column;
}

.screen-3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;

  background-color: #224151;
}
